# Data ETL
*******************************
- transform and load Dataframes from 2 csv_files to tables in postgreSQL

In [1]:
# Depends
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
# pandas read csv
teamPerformData = pd.read_csv('../Resources/DataEtl/seasonAttendanceData.csv')
orgData = pd.read_csv('../Resources/scrape_collect/seasonPayrollData.csv')

In [3]:
# column transformation
teamPerformData.head()

,teamID,franchID,name,G,Ghome,yearID,Rank,W,L,park,attendance,HR,R,DivWin,WCWin,LgWin,WSWin,att_per_game
0,ATL,ATL,Atlanta Braves,162,81,1990,6,65,97,Atlanta-Fulton County Stadium,980129,162,682,N,0,N,N,12100.358025
1,BAL,BAL,Baltimore Orioles,161,80,1990,5,76,85,Memorial Stadium,2415189,132,669,N,0,N,N,30189.862500
2,BOS,BOS,Boston Red Sox,162,81,1990,1,88,74,Fenway Park II,2528986,106,699,Y,0,N,N,31222.049383
3,CAL,ANA,California Angels,162,81,1990,4,80,82,Anaheim Stadium,2555688,147,690,N,0,N,N,31551.703704
4,CHA,CHW,Chicago White Sox,162,80,1990,2,94,68,Comiskey Park,2002357,106,682,N,0,N,N,25029.462500

In [4]:
# change column names
print(teamPerformData.columns)

Index(['teamID', 'franchID', 'name', 'G', 'Ghome', 'yearID', 'Rank', 'W', 'L',
       'park', 'attendance', 'HR', 'R', 'DivWin', 'WCWin', 'LgWin', 'WSWin',
       'att_per_game'],
      dtype='object')

In [9]:
teamPerformData.rename(columns={
    'name': 'team_name',
    'G': 'games_played',
    'Ghome': 'home_games_played',
    'Rank': 'season_rank',
    'W': 'wins',
    'L': 'losses',
    'park': 'home_park',
    'HR': 'home_runs',
    'R': 'runs_scored',
    'DivWin': 'division_winner',
    'WCWin': 'wild_card_winner',
    'LgWin': 'league_winner',
    'WSWin': 'world_series_winner',
}, inplace=True)

teamPerformData.columns

Index(['teamID', 'franchID', 'team_name', 'games_played', 'home_games_played',
       'yearID', 'season_rank', 'wins', 'losses', 'home_park', 'attendance',
       'home_runs', 'runs_scored', 'division_winner', 'wild_card_winner',
       'league_winner', 'world_series_winner', 'att_per_game'],
      dtype='object')

In [8]:
teamPerformData.isnull().values.any()

False

In [10]:
orgData.head()

,Team,BatAge,PAge,BPF,PPF,HoF,AllStars,AllTimeASap,Est. Payroll,AvgGameTime,seasonID
0,Atlanta Braves,27.4,25.8,105,106,2,1,13,"$15,065,501",2:48,1990
1,Baltimore Orioles,27.4,26.2,97,97,1,2,10,"$10,100,084",3:03,1990
2,Boston Red Sox,28.9,30.6,104,104,2,3,13,"$20,858,333",2:58,1990
3,California Angels,29.9,28.1,97,97,2,2,17,"$22,417,500",2:58,1990
4,Chicago Cubs,28.2,26.1,108,108,3,3,8,"$14,599,000",2:44,1990

In [11]:
print(orgData.columns)

Index(['Team', 'BatAge', 'PAge', 'BPF', 'PPF', 'HoF', 'AllStars',
       'AllTimeASap', 'Est. Payroll', 'AvgGameTime', 'seasonID'],
      dtype='object')

In [12]:
orgData.rename(columns={
    'Team': 'team_name',
    'seasonID': 'yearID',
    'AvgGameTime': 'AvgGameStartTime',
    'AllTimeASap': 'AllTimeASapp',
    'BPF': 'Batting_Park_Factor',
    'PPF': 'Pitching_Park_Factor',
    'BatAge': 'batters_avg_age',
    'PAge': 'pitchers_avg_age'
},  inplace=True)

print(orgData.columns)

Index(['team_name', 'batters_avg_age', 'pitchers_avg_age',
       'Batting_Park_Factor', 'Pitching_Park_Factor', 'HoF', 'AllStars',
       'AllTimeASapp', 'Est. Payroll', 'AvgGameStartTime', 'yearID'],
      dtype='object')

In [13]:
orgData.rename(columns={'Est. Payroll': 'Est_Payroll'}, inplace=True)
print(orgData.columns)

Index(['team_name', 'batters_avg_age', 'pitchers_avg_age',
       'Batting_Park_Factor', 'Pitching_Park_Factor', 'HoF', 'AllStars',
       'AllTimeASapp', 'Est_Payroll', 'AvgGameStartTime', 'yearID'],
      dtype='object')

In [14]:
orgData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 908 entries, 0 to 907
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   team_name             908 non-null    object
 1   batters_avg_age       908 non-null    float64
 2   pitchers_avg_age      908 non-null    float64
 3   Batting_Park_Factor   908 non-null    int64
 4   Pitching_Park_Factor  908 non-null    int64
 5   HoF                   908 non-null    int64
 6   AllStars              908 non-null    int64
 7   AllTimeASapp          908 non-null    int64
 8   Est_Payroll           908 non-null    object
 9   AvgGameStartTime      908 non-null    object
 10  yearID                908 non-null    int64
dtypes: float64(2), int64(6), object(3)
memory usage: 78.2+ KB

In [15]:
# to csv
orgData.to_csv('output/teamdata.csv', encoding='utf-8', index=False)
teamPerformData.to_csv('output/seasonstats.csv', encoding='utf-8', index=False)