# Concat and Transforming scraped csv files

In [1]:
import pandas as pd
import numpy as np

##### Read CSV files from scraping

In [2]:
d0 = pd.read_csv('0.csv')
d1 = pd.read_csv('1.csv')
d2 = pd.read_csv('2.csv')
d3 = pd.read_csv('3.csv')
d4 = pd.read_csv('4.csv')
d5 = pd.read_csv('5.csv')
d6 = pd.read_csv('6.csv')
d7 = pd.read_csv('7.csv')
d8 = pd.read_csv('8.csv')
d9 = pd.read_csv('9.csv')
d10 = pd.read_csv('10.csv')
d11 = pd.read_csv('11.csv')
d12 = pd.read_csv('12.csv')
d13 = pd.read_csv('13.csv')
d14 = pd.read_csv('14.csv')
d15 = pd.read_csv('15.csv')
d16 = pd.read_csv('16.csv')
d17 = pd.read_csv('17.csv')
d18 = pd.read_csv('18.csv')
d19 = pd.read_csv('19.csv')
d20 = pd.read_csv('20.csv')
d21 = pd.read_csv('21.csv')
d22 = pd.read_csv('22.csv')
d23 = pd.read_csv('23.csv')
d24 = pd.read_csv('24.csv')
d25 = pd.read_csv('25.csv')
d26 = pd.read_csv('26.csv')
d27 = pd.read_csv('27.csv')
d28 = pd.read_csv('28.csv')
d29 = pd.read_csv('29.csv')
d30 = pd.read_csv('30.csv')

### d29 is 2019 d30 is 2021

In [3]:
frames = [d0, d1, d2, d3, d4, d5, d6, d7, d8, d9, d10, d11, d12, d13, d14, d15, d16, d17, d18, d19, d20, d21, d22, d23, d24, d25, d26, d27, d28, d29, d30]

In [4]:
y = 1989

for frame in frames:
    y = y + 1

    # print(y)
    frame['seasonID'] = y

d5.head()

,Tm,Attendance,Attend/G,BatAge,PAge,BPF,PPF,#HOF,#A-S,#a-tA-S,Est. Payroll,Time,Managers,seasonID
0,Atlanta Braves,2561831,35581,27.9,27.4,103,101,4,2,16,"$47,235,445",2:41,Cox,1995
1,Baltimore Orioles,3098475,43034,30.0,29.3,102,101,3,1,17,"$43,942,521",3:03,Regan,1995
2,Boston Red Sox,2164410,30061,28.6,29.1,103,103,0,2,11,"$32,455,518",2:57,Kennedy,1995
3,California Angels,1748680,24287,28.8,30.7,99,99,1,4,11,"$31,223,171",3:05,Lachemann,1995
4,Chicago Cubs,1918265,26643,28.3,27.8,97,97,0,3,9,"$29,505,834",2:54,Riggleman,1995

In [5]:
d0.head()

,Tm,Attendance,Attend/G,BatAge,PAge,BPF,PPF,#HOF,#A-S,#a-tA-S,Est. Payroll,Time,Managers,seasonID
0,Atlanta Braves,980129,12100,27.4,25.8,105,106,2,1,13,"$15,065,501",2:48,Nixon and Cox,1990
1,Baltimore Orioles,2415189,30190,27.4,26.2,97,97,1,2,10,"$10,100,084",3:03,Robinson,1990
2,Boston Red Sox,2528986,31222,28.9,30.6,104,104,2,3,13,"$20,858,333",2:58,Morgan,1990
3,California Angels,2555688,31552,29.9,28.1,97,97,2,2,17,"$22,417,500",2:58,Rader,1990
4,Chicago Cubs,2243791,27701,28.2,26.1,108,108,3,3,8,"$14,599,000",2:44,Zimmer,1990

In [6]:
d30.head()

,Tm,Attendance,Attend/G,BatAge,PAge,BPF,PPF,#HOF,#A-S,#a-tA-S,Est. Payroll,Time,Chall,Succ,Succ%,Managers,seasonID
0,Arizona Diamondbacks,1043010,12877,28.9,28.5,99,100,0,1,9,"$77,691,667",3:15,10,2,20%,Lovullo,2020
1,Atlanta Braves,2299647,28746,28.2,29.5,104,103,0,3,18,"$127,230,000",3:08,12,2,16%,Snitker,2020
2,Baltimore Orioles,793229,9793,26.7,28.1,102,104,0,1,4,"$42,075,000",3:06,10,1,10%,Hyde,2020
3,Boston Red Sox,1725323,21300,28.0,29.7,107,107,0,5,9,"$156,095,000",3:17,10,6,60%,Cora,2020
4,Chicago Cubs,1978934,24431,29.1,29.4,100,100,0,2,10,"$144,413,500",3:16,18,9,50%,Ross,2020

##### Need to change seasonID in d30 to 2021 (because no attendance data for 2020)

In [7]:
d30['seasonID'] = d30['seasonID'].map({2020: 2021})
d30.head()

,Tm,Attendance,Attend/G,BatAge,PAge,BPF,PPF,#HOF,#A-S,#a-tA-S,Est. Payroll,Time,Chall,Succ,Succ%,Managers,seasonID
0,Arizona Diamondbacks,1043010,12877,28.9,28.5,99,100,0,1,9,"$77,691,667",3:15,10,2,20%,Lovullo,2021
1,Atlanta Braves,2299647,28746,28.2,29.5,104,103,0,3,18,"$127,230,000",3:08,12,2,16%,Snitker,2021
2,Baltimore Orioles,793229,9793,26.7,28.1,102,104,0,1,4,"$42,075,000",3:06,10,1,10%,Hyde,2021
3,Boston Red Sox,1725323,21300,28.0,29.7,107,107,0,5,9,"$156,095,000",3:17,10,6,60%,Cora,2021
4,Chicago Cubs,1978934,24431,29.1,29.4,100,100,0,2,10,"$144,413,500",3:16,18,9,50%,Ross,2021

##### concat and save as csv

In [8]:
Dcat = pd.concat(frames)
Dcat.head()

,Tm,Attendance,Attend/G,BatAge,PAge,BPF,PPF,#HOF,#A-S,#a-tA-S,Est. Payroll,Time,Managers,seasonID,Chall,Succ,Succ%
0,Atlanta Braves,980129,12100,27.4,25.8,105,106,2,1,13,"$15,065,501",2:48,Nixon and Cox,1990,NaN,NaN,NaN
1,Baltimore Orioles,2415189,30190,27.4,26.2,97,97,1,2,10,"$10,100,084",3:03,Robinson,1990,NaN,NaN,NaN
2,Boston Red Sox,2528986,31222,28.9,30.6,104,104,2,3,13,"$20,858,333",2:58,Morgan,1990,NaN,NaN,NaN
3,California Angels,2555688,31552,29.9,28.1,97,97,2,2,17,"$22,417,500",2:58,Rader,1990,NaN,NaN,NaN
4,Chicago Cubs,2243791,27701,28.2,26.1,108,108,3,3,8,"$14,599,000",2:44,Zimmer,1990,NaN,NaN,NaN

In [9]:
# Drop unnecessary columns
Dcat.drop(columns=['Attendance', 'Attend/G', 'Managers', 'Chall', 'Succ', 'Succ%'], inplace=True)
Dcat

,Tm,BatAge,PAge,BPF,PPF,#HOF,#A-S,#a-tA-S,Est. Payroll,Time,seasonID
0,Atlanta Braves,27.4,25.8,105,106,2,1,13,"$15,065,501",2:48,1990
1,Baltimore Orioles,27.4,26.2,97,97,1,2,10,"$10,100,084",3:03,1990
2,Boston Red Sox,28.9,30.6,104,104,2,3,13,"$20,858,333",2:58,1990
3,California Angels,29.9,28.1,97,97,2,2,17,"$22,417,500",2:58,1990
4,Chicago Cubs,28.2,26.1,108,108,3,3,8,"$14,599,000",2:44,1990
...,...,...,...,...,...,...,...,...,...,...,...
25,St. Louis Cardinals,28.5,30.1,94,93,0,3,13,"$155,329,667",3:10,2021
26,Tampa Bay Rays,27.7,28.8,94,92,0,3,10,"$64,037,166",3:07,2021
27,Texas Rangers,26.8,27.8,100,102,0,3,7,"$67,890,999",3:05,2021
28,Toronto Blue Jays,26.8,29.1,104,103,0,4,18,"$121,694,071",3:04,2021
29,Washington Nationals,28.6,30.1,94,96,0,4,17,"$172,370,147",3:13,2021

In [12]:
# Rename some columns
Dcat.rename(columns={'Tm': 'Team', '#HOF': 'HoF', '#A-S': 'AllStars', '#a-tA-S': 'AllTimeASap', 'Est.Payroll': 'Payroll', 'Time': 'AvgGameTime'}, inplace=True)
Dcat

,Team,BatAge,PAge,BPF,PPF,HoF,AllStars,AllTimeASap,Est. Payroll,AvgGameTime,seasonID
0,Atlanta Braves,27.4,25.8,105,106,2,1,13,"$15,065,501",2:48,1990
1,Baltimore Orioles,27.4,26.2,97,97,1,2,10,"$10,100,084",3:03,1990
2,Boston Red Sox,28.9,30.6,104,104,2,3,13,"$20,858,333",2:58,1990
3,California Angels,29.9,28.1,97,97,2,2,17,"$22,417,500",2:58,1990
4,Chicago Cubs,28.2,26.1,108,108,3,3,8,"$14,599,000",2:44,1990
...,...,...,...,...,...,...,...,...,...,...,...
25,St. Louis Cardinals,28.5,30.1,94,93,0,3,13,"$155,329,667",3:10,2021
26,Tampa Bay Rays,27.7,28.8,94,92,0,3,10,"$64,037,166",3:07,2021
27,Texas Rangers,26.8,27.8,100,102,0,3,7,"$67,890,999",3:05,2021
28,Toronto Blue Jays,26.8,29.1,104,103,0,4,18,"$121,694,071",3:04,2021
29,Washington Nationals,28.6,30.1,94,96,0,4,17,"$172,370,147",3:13,2021

In [13]:
Dcat.to_csv('seasonPayrollData.csv', encoding='utf-8', index=False)